@model PostModel
@{
    ViewData["Title"] = "Create post";
}
<h2>Create post</h2><hr />
<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data"  asp-controller="Posts" asp-action="Create">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content">Content</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture">Picture</label>
                <input asp-for="Picture"/>
            </div>
            <input type="submit" class="btn btn-primary" value="Create" />
        </form>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}