@model User
@{
    ViewData["Title"] = "My profile";
}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                My posts
                <small>Shows recent posts</small>
            </h1>

            @foreach (var post in Model.Posts)
            {
                <!-- Blog Post -->
                <div class="card mb-4">
                    @if (post.Picture != null)
                    {
                        <img class="card-img-top" src="/api/Image/@post.PictureId" alt="Card image cap">
                    }
                    <div class="card-body">
                        <h2 class="card-title">@post.Title</h2>
                        <p class="card-text">@post.Content<p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <img src="/api/Image/@Model.ProfilePictureId" alt="Card image cap" width="60" height="60">
                        Posted on @post.PublishedOn.ToString("dd-MMM-yyyy",new CultureInfo("en-US")) by
                        <a href="#">@Model.UserName</a>
                    </div>
                </div>
            }

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Profile photo</h5>
                <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfilePicture">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Upload one or more files using this form:</p>
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Upload" />
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    @if (Model.ProfilePicture == null)
                    {
                        <img src="~/images/profile/nophoto.jpg" style="width:70%;height:70%;" />
                    }
                    else
                    {
                        <img src="/api/Image/@Model.ProfilePictureId" style="width:70%;height:70%;" />
                    }
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Quick links</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">About</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Photos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Friends</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <!-- /.row -->
</div>

