@model AlbumsModel
@{
    ViewData["Title"] = "Albums";
}

<div class="container">
    <div class="row">

    </div>
    <div class="col-md-8">
        <h1 class="my-4">
            @Model.AlbumsOwnerNames's albums<br />
            @if (Model.MyAlbums)
            {
                <small><a href="#" onclick="createNewAlbum()">Create new album</a></small>
            }
        </h1>

        @Html.Partial("_AllAlbums", Model)
    </div>
    <div class="col-md-4">
        <div class="card my-4" style="text-align:center;">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <a asp-area="User" asp-controller="Profile" asp-action="MyProfile">Go to my profile</a>
            </div>
        </div>
    </div>
</div>